<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav slimscrollsidebar">
        <div class="sidebar-head">
            <h3>
                <span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span>
                <span class="hide-menu">Choose single action</span>
            </h3>
        </div>
        <ul class="nav" id="side-menu">
            <li style="padding: 170px 0 0">
                <a href="#!Admin" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>User
                    Home</a>
            </li>
        </ul>
    </div>
</div>