<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav slimscrollsidebar">
    <div class="sidebar-head">
      <h3>
        <span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span>
        <span class="hide-menu">Choose single action</span>
      </h3>
    </div>
    <ul class="nav" id="side-menu">
      <li style="padding: 170px 0 0">
        <a href="#!User" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>User Home</a>
      </li>
      <li style="padding: 70px 0 0">
        <a href="#!showcategories" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Show
          Category</a>
      </li>
      <li style="padding: 70px 0 0">
        <a href="#!addproduct" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Add
          Product</a>
      </li>
      <li style="padding: 70px 0 0">
        <a href="#!showproducts" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Show
          Products</a>
      </li>
      <li style="padding: 70px 0 0">
        <a href="#!showorder" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Show Orders</a>
      </li>
    </ul>
  </div>
</div>